<div class="main_wrapp_box">
    <section class="content-header">
      <div class="header-title">
        <h1>
          <img src="assets/img/user_ico_wht.png">BATCH LIST</h1>
      </div>
    </section>
    <section class="user_tbl_wrapp">
      <!-- <div class="top_tab_sec">
        <span class="user_tab active_user">
          <a></a>Student</span>
      </div> -->
      <div class="table_wrapper">
        <div class="serch_section">
          <div class="row">
            <div class="col-md-4 lt_sear">
              <h4>Student List</h4>
            </div>
            <div class="col-md-12 rt_sear">
              <div class="row">
                <div class="pull_serch">
                  <div class="col-md-4 rt_here">
                    <div class="sear_wrap">
                      <select [(ngModel)]="batch_id" class="form-control" (change)="getBatchStudents(batch_id)">
                        <option [ngValue]="undefined" disabled>select a Batch</option>
                        <option *ngFor="let item1 of batchList" [value]="item1.id">{{item1.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="comm_tble">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th width="40%">Name</th>
                  <th width="15%">Standard</th>
                  <th width="15%">Roll number</th>
                  <th width="15%">Divison</th>
                  <th width="15%">Username</th>
                  <th width="15%">Password</th>
                  <th width="15%">Progress</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of studentList | paginate: { itemsPerPage: 10, currentPage: p }">
                  <td>
                    <span>{{item.first_name}} {{item.last_name}}</span>
                  </td>
                  <td>{{item.standard}}</td>
                  <td>{{item.roll_no}}</td>
                  <td>{{item.divison}}</td>
                  <td>{{item.user_name}}</td>
                  <td>{{item.password}}</td>
                  <td> <a class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="left" title="Progress" [routerLink]="['/school/progress', item.id]" routerLinkActive="router-link-active" >
                      <i class="fa fa-line-chart"
                                  aria-hidden="true"></i>
                  </a>
                  <button class="btn btn-danger btn-sm" *ngIf="batch_idl > 0" data-toggle="tooltip" data-placement="left" title="Delete"
                    (click)="deleteBatch(item.id)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event" maxSize="10"></pagination-controls>
          </div>
        </div>
      </div>
    </section>
  </div>